.strength_wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.strength_input {
  width: 250px;
  font-size: 25px;
  background: transparent;
}

.strength_meter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.button_strength {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 13px;
  display: block;
}

.strength_meter div {
  width: 0%;
  height: 34px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.strength_meter div p {
  position: absolute;
  right: 10px;
  color: #4d4d4d;
  font-size: 13px;
  padding-right: 30px;
}

.veryweak {
  background-color: #FF7979;
  width: 25% !important;
}

.weak {
  background-color: #FF7979;
  width: 50% !important;
}

.medium {
  background-color: #ffc600;
  width: 75% !important;
}

.strong {
  background-color: #36b60f;
  width: 100% !important;
}

.arrow-left {
  margin: 0 0 0 -23px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ccc;
}

.arrow-border2 {
  margin: -19px 0 0 -21px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #fff;
}

.pw-help {
  top: 0;
  position: absolute;
  z-index: 9;
  min-width: 300px;
  font-size: 20px;
  border: #ccc solid 1px;
  background-color: #fff;
  margin: 0 0 0 315px;
  padding: 6px 12px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.pw-help h4 {
  margin: -16px 0 10px;
  padding: 0;
  font-weight: normal;
  font-size: 0.7em;
}

.pw-help h6 {
  margin: 0 0 10px;
}

.pw-help ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pw-help ul li {
  display: block;
  visibility: visible !important;
  height: 20px !important;
  min-height: 20px !important;
  line-height: 24px;
  font-size: 0.7em;
  margin: 1px !important;
}

.pw-help ul li.fa::before {
  font-size: 15px;
  margin-right: 2px;
}

.pw-help li label {
  font-family: SophosSansLight;
}
